.bio {
  background-color: #545454;
  display: flex;
  overflow: hidden;

  .left {
    flex: 0.5;
    background-color: #b8b8b8;

    img {
      flex: 0.4;
      width: 45%;
      height: 100%;
      border-radius: 56%;
    }
  }
  .right {
    flex: 0.5;
  }
}
